<template>
  <section id="about">
    <h2>Welcome to Gift Palace</h2>
    <p>
      Serving gifts, smiles, and love since 2005. Come say hi to us on the friendly island of Sint Maarten in the Caribbean sea.
      Our gain out of this business is the countless relationships we have with our clients, who become family. Use this site to
      as a place to get and leave some memories.
    </p>
    <br />
  </section>
</template>
<script>
export default {
    name: "About"
};
</script>
