<template>
  <section id="contact" class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">
            Keep in touch!
          </p>
          <p class="subtitle">
            Leave a message and your email and we'll get back to you!
          </p>
          <div class="content">
            <b-field
              label="Email"
            >
              <b-input
                v-model="guestEmail"
                type="email"
                value="john@"
                maxlength="30"
              >
              </b-input>
            </b-field>
            <b-field label="Message">
              <b-input v-model="guestMessage" maxlength="200" type="textarea"></b-input>
            </b-field>
            <b-button inverted outlined @click="sendGuestMessage">
              Send!
            </b-button>
          </div>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              Follow us on <a href="https://www.instagram.com/gift_.palace/">Instagram&nbsp;<b-icon icon="instagram"></b-icon></a>
            </span>
          </p>
          <p class="card-footer-item">
            <span>
              Find us on <a href="https://www.facebook.com/harrypriyacom">Facebook&nbsp;<b-icon icon="facebook"></b-icon></a>
            </span>
          </p>
        </footer>
      </div>
    </div>
    <div class="column">
      <iframe
        width="600"
        height="520"
        style="border:0"
        loading="lazy"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1127.9775940637512!2d-63.0438246689564!3d18.022917329714293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7240c5e85b8c746e!2sGift%20Palace!5e0!3m2!1sen!2snl!4v1617214270851!5m2!1sen!2snl"
      >
      </iframe>
    </div>
  </section>
</template>
<script>
export default {
    name: "Contact",
    data () {
        return {
            guestEmail: "",
            guestMessage: "",
        };
    },
    methods: {
        sendGuestMessage () {
            console.log("guest message object", {
                email: this.guestEmail,
                message: this.guestMessage,
            });
            this.guestEmail = "";
            this.guestMessage = "";
        }
    }
};
</script>
