<template>
  <section id="photos">
    <h2>Photos</h2>
    <vue-masonry-wall :items="statePhotos" :options="{width: 300, padding: 1}" :ssr="{columns: 2}">
      <template #default="{item}">
        <div class="Item">
          <img :src="item.Photo.url" />

          <div class="Content">
            <h5 class="text-ellipsis-1l">
              {{ item.Description }}
            </h5>
          </div>
        </div>
      </template>
    </vue-masonry-wall>
  </section>
</template>
<script>
import VueMasonryWall from "vue-masonry-wall";
import { mapGetters } from "vuex";
export default {
    name: "Photos",
    components: {
        VueMasonryWall,
    },
    computed: {
        ...mapGetters({
            statePhotos: "photos/getPhotos",
            loadingPhotos: "photos/isLoading"
        }),
    }
};
</script>
