// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #0b3273;
$primary-invert: #cbc93e;
$primary-light: #0c64ac;
$white: #ffffff;
$white-invert:#000000;
$off-white: #fdf5e6;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "primary": ($primary, $primary-invert),
    "white": ($white, $white-invert),
    "primary-invert": ($primary-invert, $primary),
    "primary-light": ($primary-light, $primary-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$card-background-color: $off-white;
$background: $primary;
$carousel-arrow-background: $primary-invert;
$carousel-min-height: 500px;
$navbar-background-color: $primary;
$navbar-item-color: $primary-invert;
$navbar-height: 4rem;
$navbar-item-hover-background-color: $primary-invert;
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
