<template>
  <div>
    <b-navbar fixed-top>
      <template #brand>
        <b-navbar-item href="#index">
          <img src="~assets/gp-logo.png" alt="Buefy" height="100">
          <strong>&nbsp;Gift Palace</strong>
        </b-navbar-item>
      </template>

      <template #start>
        <b-navbar-item href="#contact">
          Contact
        </b-navbar-item>
        <b-navbar-item href="#photos">
          Photos
        </b-navbar-item>
      </template>

      <template #end>
        <b-navbar-item href="https://openweathermap.org/city/3513392">
          What's the temperature in St.Maarten? {{ sxmTemp }}
        </b-navbar-item>
      </template>
    </b-navbar>
    <nuxt />
  </div>
</template>

<script>
import axios from "axios";
export default {
    data () {
        return {
            sxmTemp: "Checking. Probably 27 degrees celcius..."
        };
    },
    mounted () {
        this.getSxmTemp();
        this.$store.dispatch("photos/refreshPhotos");
    },
    methods: {
        async getSxmTemp () {
            await axios.get("https://openweathermap.org/data/2.5/weather?id=3513392&units=metric&appid=439d4b804bc8187953eb36d2a8c26a02")
                .then(response => this.sxmTemp = `Feels like ${response.data.main.feels_like}C`);
        }
    }
};
</script>
<style>
h2 {
  font-weight: bolder;
  padding-bottom: 12px;
}
</style>
