<template>
  <div style="text-align:center;max-width:1600px;margin:auto">
    <b-image id="index" :src="require('@/assets/gp-storefront.jpg')" alt="The Buefy Logo" ratio="14by5" />
    <hr />
    <about />
    <b-image id="index" src="https://www.qsl.net/pj7b/banner.jpg" alt="The Buefy Logo" ratio="14by3" />
    <hr />
    <photos />
    <hr />
    <contact />
  </div>
</template>

<script>
import Contact from "~/components/contact.vue";
import About from "~/components/about.vue";
import Photos from "~/components/photos.vue";
export default {
    name: "HomePage",
    components: {
        Contact,
        Photos,
        About,
    }
};
</script>
<style scoped>
hr {
    background-color: #cbc93e;
    width: 70%;
    margin-left: 15%;
}
</style>
